body
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: lightpink;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 30px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}
.form
{
	display: inline-block;
	border: 6px dashed red;
	border-radius: 25px;
	padding: 25px 30px;
}
input, textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}
.submit
{
	background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.submit:hover
{
  color: pink;
  background-color: black;
}
label
{
	font-weight: bold;
}
.error{
	color: red;
			}